*{
    padding: 10px;
}
body{
    width: 100%;
    background-color: #FFCD9E;
    color:#282828;
    font-family: sans-serif; 
}

.container {
    width: 100%; /* Use percentages */
    padding: 2%; /* Responsive padding */
}

.flex-container{display: flex;
                flex-wrap: nowrap;
                justify-content:space-around ;
                padding: 20px;
                }

.mini-container1{
    width: 35%;}

p{
    font-size:x-large;
    color: #484848;
    
}    
#shorttext{
    color: #FFFFFF;
}
footer{width: 100%;
    /* display: flex; */
    
    /* padding: 20px; */
    background-color: #282828;    
    
}     
a{
    color: #FFFFFF;
    text-decoration: none;
}
#right{
    text-align: end;
}
#submit{    background-color: black;
    color: white;
    border-radius: 5px;}
#email{    border-radius: 7px;
    border: solid;}
#shorttext{
    font-size:smaller
}